<ul>
  <% steps.steps.each do |step| %>
    <li class="tutorial-step">
      <% if step.start_with?("$file") %>
        <div class="tutorial-center-image">
          <img src="<%= step.gsub("$file:", "") %>" alt="">
        </div>
      <% else %>
        <%= step %>
      <% end %>
    </li>
  <% end %>
</ul>
