<h1>Bem vindo ao modo de edição</h1>
<p>Aqui você pode editar os textos que quiser. Quando terminar, seu tutorial será levado á análise, para que possa ser verificada e aprovada!</p>
<h3><%= @subitems.name %></h3>
<%= render "editTutorialStep", steps: @subitems %>
