.tutorial-step{
  margin-top: 50px;
  list-style: none;
}

.tutorial-center-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tutorial-center-image img{
  max-width: 75%;
}

.tutorial-footer{
  width: 100%;
  height: 50px;
}

.tutorial-footer ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.tutorial-footer ul li{
  list-style: none;
  text-decoration: none;
  margin-right: 80px;
}

.tutorial-footer ul li:hover{
  text-decoration: underline;
}

div[contenteditable]{
    border: 1px solid transparent;
    overflow: auto;
    padding: 10px 30px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

div[contenteditable]:focus{
    border: 1px solid grey;
    cursor: text;
}

div[contenteditable]:empty{
    border: 1px solid rgba(128 , 128, 128, 0.5);
}

div[contenteditable]::before{
  content: 'Blocos vazios são descartados';
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transform: translateY(0);
  color: red;
  transition: 0.5s;
}

div[contenteditable]:empty::before{
  content: 'Blocos vazios são descartados';
  position: absolute;
  transform: translateY(-40px);
  visibility: hidden;
  opacity: 1;
}

